@"
# Dependencies
node_modules/
npm-debug.log*

# Test results
test-results/
playwright-report/
reports/
screenshots/
videos/

# Environment variables
.env
.env.*
*.env

# IDE
.vscode/
.idea/

#INSTALLATION FILES
setup.sh

# OS
.DS_Store
Thumbs.db

# Logs
*.log
"@ | Out-File -FilePath ".gitignore" -Encoding utf8